@font-face {
    font-family: 'icomoon';
    src:  url('../font/icons/icomoon.eot?85k1c5');
    src:  url('../font/icons/icomoon.eot?85k1c5#iefix') format('embedded-opentype'),
      url('../font/icons/icomoon.ttf?85k1c5') format('truetype'),
      url('../font/icons/icomoon.woff?85k1c5') format('woff'),
      url('../font/icons/icomoon.svg?85k1c5#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-computer:before {
    content: "\e900";
  }
  .icon-medal:before {
    content: "\e901";
  }
  .icon-people:before {
    content: "\e902";
  }
  