.about{
   font-size: 15px;
&__container{
   max-width: 970px;
   margin: 0 auto;
}
&__name{
   text-align: center;
   color: $blue;
   font-size: 16px;
   font-weight: 400;
}
&__title{
   text-align: center;
   color: $black;
   font-size: 38px;
   font-weight: 700;
   padding-bottom: 30px;
}
&__wrapper{
   padding-top: 30px;
   display: flex;
   justify-content: space-between;
   padding: 0 10px;
}
&__description-col1{
   max-width: 370px;
   font-size: 20px;
   line-height: 30px;
   
   :first-child{
      font-style: italic;
      padding-bottom: 27px;
   }
}
&__description-col2{
   max-width: 570px;
   font-size: 16px;
   font-weight: 400;
   line-height: 27px;
   :first-child{
      padding-bottom: 27px;
   }
}
&__list{
   padding-top: 60px;
   list-style-type: none;
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
   text-align: center;
}
&__link{
   display: block;
   padding: 0 10px;
}
}