.container-x {
  max-width: 1170px;
}
.about-us {
  display: block;
  margin: 0 auto;
  max-width: 970px;

  &__title {
    text-align: center;
    margin-bottom: 30px;
    span {
      font-family: Avenir;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 22px;
      letter-spacing: 0px;
      color: #2557ab;
    }
    h1 {
      font-family: Avenir;
      font-size: 38px;
      font-style: normal;
      font-weight: 700;
      line-height: 52px;
      letter-spacing: 0px;
      color: #13253a;
    }
  }

  &__col-1 {
    max-width: 370px;
    margin: 0;
    p:first-child {
      font-family: Avenir;
      font-size: 20px;
      font-style: italic;
      font-weight: 400;
      line-height: 30px;
      letter-spacing: 0px;
      text-align: left;
      color: #13253a;
      padding-bottom: 20px;
    }
  }
  &__col-2 {
    max-width: 570px;
    margin: 0;
  }

  &__text {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 33px;
    justify-content: space-between;

    p {
      font-family: Avenir;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 27px;
      letter-spacing: 0px;
      text-align: left;
      color: #13253a;
      padding-bottom: 30px;
    }
  }
}
.clients {
  &__list {
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    list-style: none;
  }

  &__item {
    opacity: 1;
    transition: all ease-in-out 0.3s;

    &:hover {
      opacity: 0.5;
    }
  }
}
