.contact-us {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #11364E;
    text-align: center;
}

.container-vostrik {
        max-width: 380px;
        width: 100%;
        margin: 0 auto;
        padding: 0 5px;
}

.form {
    color: white;
    font-size: 13px;


    h2 {
        padding-top: 140px;
        font-size: 38px;
        color: white;
        margin-bottom: 34px;
        font-weight: 400;
    }

    &__label {
        display: flex;
        width: 100%;
        margin-bottom: 10px;
    }

    &__input {
        font-size: 16px;
        position: relative;
        outline: none;
        border: none;
        min-height: 22px;
        border-bottom: 1px solid #4D687A;
        background: none;
        width: 100%;
        padding-bottom: 5px;
        margin-bottom: 10px;
        color: white;
        padding-left: 1px;

        &::placeholder {
            opacity: 0.7;
            color: #415E71;
        }
    }

    &__label-area {
        display: flex;
        width: 100%;
        margin-bottom: 10px;
        padding-left: 1px;
    }

    &__textarea {
        display: flex;
        border: none;
        border-bottom: 1px solid #4D687A;
        outline: none;
        background: none;
        font-size: 16px;
        resize: none;
        width: 100%;
        margin-bottom: 36px;
        height: 100px;
        color: white;
        padding-left: 1px;

        &::placeholder {
            opacity: 0.7;
            color: #415E71;
        }
    }

    &__btn {
        background-color: $orange;
        padding: 19px 100px;
        color: white;
        font-size: 17px;
        margin-bottom: 158px;
        cursor: pointer;
        transition: all ease-in-out 0.5s;
        border: none;
        outline: none;
        border-radius: 3px;

        &:hover {
            transform: scale(1.1);
        }
    }

    &__area-holder {
        padding-top: 40px;
    }
}
