.grow {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f6f7;

  &__bussines {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    min-height: 734px;
  }

  &__bussines-description-holder {
    display: flex;
    flex-direction: column;
    width: 470px;
  }

  &__bussines-some-text {
    font-weight: 500;
    font-size: 16px;
    color: $blue;
    padding: 15px 15px 5px 15px;
  }

  &__bussines-title {
    font-weight: 700;
    font-size: 32px;
    padding: 0 15px;
  }

  &__bussines-text {
    padding: 10px 15px 20px;
    max-width: 470px;
    min-height: 81px;
  }

  &__bussines-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    padding: 19px 49px 18px 49px;
    border-radius: 3px;
    background-color: $orange;
    font-weight: 600;
    font-size: 16px;
    color: white;
    margin-left: 15px;
    transition: all ease-in-out 0.4s;

    &:hover {
      opacity: 0.7;
    }
  }

  &__bussines-img-holder {
    padding: 15px;
  }
}
