.bussines {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  background-color: #f4f6f7;

  &__holder {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0 0;
  }

  &__logo-holder {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 15px;
  }

  &__logo {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
  }

  &__nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__item {
    display: flex;
    position: relative;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    margin: 0 17px;
    padding-bottom: 3px;
    font-size: 14px;
    font-weight: 600;
    color: black;

    &::before {
      content: "";
      bottom: 0;
      left: 0;
      position: absolute;
      width: 100%;
      height: 3px;
      background-color: $orange;
      transform: scaleX(0);
      transition: 0.7s;
    }

    &:hover::before {
      transform: scaleX(1);
    }
  }
}
