.our-services {
  font-family: "Avenir";

  &__subtitle {
    display: flex;
    text-align: center;
    font-weight: 500;
    color: #2557ab;
    margin-bottom: 5px;
    padding-right: 9px;
  }

  &__title {
    font-size: 38px;
    font-weight: 400;
    // line-height: 51.91px;
    margin-bottom: 30px;
  }
}

.content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

.box {
  display: flex;
  margin-bottom: 160px;

  &__flex {
    display: flex;
    flex-wrap: wrap;
    margin: 0 45px 0 45px;

    max-width: 370px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  &__flex-text {
    
    h2 {
      font-weight: bold;
      font-size: 20px;
      line-height: 27px;
      text-align: center;
      padding: 17px 0 6px 0;
    }
  }

  &__flex-icon {
    margin: 0 auto;
    padding-top: 5px;
    padding-right: 13px;
  }
  &__flex-desc {
    line-height: 27px;
  }
}

.date {
  display: flex;

  justify-content: center;
  align-items: center;
  background: #f4f6f7;

  &___item-p {
    line-height: 22px;
    color: #2557ab;
    font-weight: 500;
  }

  &___item-items {
    font-size: 46px;
    letter-spacing: 6.4px;

    i {
      color: $orange;
      font-size: 24px;
    }
  }
}

.date___item {
  margin: 0 50px 0 50px;
}
