@charset "UTF-8";
@font-face {
  font-family: "Avenir";
  src: url("../font/fonts/AvenirNext/AvenirNextCyr-Bold.eot");
  src: local("Avenir Next Cyr Bold"), local("AvenirNextCyr-Bold"), url("../font/fonts/AvenirNext/AvenirNextCyr-Bold.eot?#iefix") format("embedded-opentype"), url("../font/fonts/AvenirNext/AvenirNextCyr-Bold.woff2") format("woff2"), url("../font/fonts/AvenirNext/AvenirNextCyr-Bold.woff") format("woff"), url("../font/fonts/AvenirNext/AvenirNextCyr-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("../font/fonts/AvenirNext/AvenirNextCyr-ThinItalic.eot");
  src: local("Avenir Next Cyr Thin Italic"), local("AvenirNextCyr-ThinItalic"), url("../font/fonts/AvenirNext/AvenirNextCyr-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../font/fonts/AvenirNext/AvenirNextCyr-ThinItalic.woff2") format("woff2"), url("../font/fonts/AvenirNext/AvenirNextCyr-ThinItalic.woff") format("woff"), url("../font/fonts/AvenirNext/AvenirNextCyr-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Avenir";
  src: url("../font/fonts/AvenirNext/AvenirNextCyr-MediumItalic.eot");
  src: local("Avenir Next Cyr Medium Italic"), local("AvenirNextCyr-MediumItalic"), url("../font/fonts/AvenirNext/AvenirNextCyr-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../font/fonts/AvenirNext/AvenirNextCyr-MediumItalic.woff2") format("woff2"), url("../font/fonts/AvenirNext/AvenirNextCyr-MediumItalic.woff") format("woff"), url("../font/fonts/AvenirNext/AvenirNextCyr-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Avenir";
  src: url("../font/fonts/AvenirNext/AvenirNextCyr-UltraLightIt.eot");
  src: local("Avenir Next Cyr Ultra Light Italic"), local("AvenirNextCyr-UltraLightIt"), url("../font/fonts/AvenirNext/AvenirNextCyr-UltraLightIt.eot?#iefix") format("embedded-opentype"), url("../font/fonts/AvenirNext/AvenirNextCyr-UltraLightIt.woff2") format("woff2"), url("../font/fonts/AvenirNext/AvenirNextCyr-UltraLightIt.woff") format("woff"), url("../font/fonts/AvenirNext/AvenirNextCyr-UltraLightIt.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "Avenir";
  src: url("../font/fonts/AvenirNext/AvenirNextCyr-Light.eot");
  src: local("Avenir Next Cyr Light"), local("AvenirNextCyr-Light"), url("../font/fonts/AvenirNext/AvenirNextCyr-Light.eot?#iefix") format("embedded-opentype"), url("../font/fonts/AvenirNext/AvenirNextCyr-Light.woff2") format("woff2"), url("../font/fonts/AvenirNext/AvenirNextCyr-Light.woff") format("woff"), url("../font/fonts/AvenirNext/AvenirNextCyr-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("../font/fonts/AvenirNext/AvenirNextCyr-Italic.eot");
  src: local("Avenir Next Cyr Italic"), local("AvenirNextCyr-Italic"), url("../font/fonts/AvenirNext/AvenirNextCyr-Italic.eot?#iefix") format("embedded-opentype"), url("../font/fonts/AvenirNext/AvenirNextCyr-Italic.woff2") format("woff2"), url("../font/fonts/AvenirNext/AvenirNextCyr-Italic.woff") format("woff"), url("../font/fonts/AvenirNext/AvenirNextCyr-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Avenir";
  src: url("../font/fonts/AvenirNext/AvenirNextCyr-BoldItalic.eot");
  src: local("Avenir Next Cyr Bold Italic"), local("AvenirNextCyr-BoldItalic"), url("../font/fonts/AvenirNext/AvenirNextCyr-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../font/fonts/AvenirNext/AvenirNextCyr-BoldItalic.woff2") format("woff2"), url("../font/fonts/AvenirNext/AvenirNextCyr-BoldItalic.woff") format("woff"), url("../font/fonts/AvenirNext/AvenirNextCyr-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Avenir";
  src: url("../font/fonts/AvenirNext/AvenirNextCyr-Heavy.eot");
  src: local("Avenir Next Cyr Heavy"), local("AvenirNextCyr-Heavy"), url("../font/fonts/AvenirNext/AvenirNextCyr-Heavy.eot?#iefix") format("embedded-opentype"), url("../font/fonts/AvenirNext/AvenirNextCyr-Heavy.woff2") format("woff2"), url("../font/fonts/AvenirNext/AvenirNextCyr-Heavy.woff") format("woff"), url("../font/fonts/AvenirNext/AvenirNextCyr-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("../font/fonts/AvenirNext/AvenirNextCyr-HeavyItalic.eot");
  src: local("Avenir Next Cyr Heavy Italic"), local("AvenirNextCyr-HeavyItalic"), url("../font/fonts/AvenirNext/AvenirNextCyr-HeavyItalic.eot?#iefix") format("embedded-opentype"), url("../font/fonts/AvenirNext/AvenirNextCyr-HeavyItalic.woff2") format("woff2"), url("../font/fonts/AvenirNext/AvenirNextCyr-HeavyItalic.woff") format("woff"), url("../font/fonts/AvenirNext/AvenirNextCyr-HeavyItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Avenir";
  src: url("../font/fonts/AvenirNext/AvenirNextCyr-Thin.eot");
  src: local("Avenir Next Cyr Thin"), local("AvenirNextCyr-Thin"), url("../font/fonts/AvenirNext/AvenirNextCyr-Thin.eot?#iefix") format("embedded-opentype"), url("../font/fonts/AvenirNext/AvenirNextCyr-Thin.woff2") format("woff2"), url("../font/fonts/AvenirNext/AvenirNextCyr-Thin.woff") format("woff"), url("../font/fonts/AvenirNext/AvenirNextCyr-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("../font/fonts/AvenirNext/AvenirNextCyr-Medium.eot");
  src: local("Avenir Next Cyr Medium"), local("AvenirNextCyr-Medium"), url("../font/fonts/AvenirNext/AvenirNextCyr-Medium.eot?#iefix") format("embedded-opentype"), url("../font/fonts/AvenirNext/AvenirNextCyr-Medium.woff2") format("woff2"), url("../font/fonts/AvenirNext/AvenirNextCyr-Medium.woff") format("woff"), url("../font/fonts/AvenirNext/AvenirNextCyr-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("../font/fonts/AvenirNext/AvenirNextCyr-DemiItalic.eot");
  src: local("Avenir Next Cyr Demi Italic"), local("AvenirNextCyr-DemiItalic"), url("../font/fonts/AvenirNext/AvenirNextCyr-DemiItalic.eot?#iefix") format("embedded-opentype"), url("../font/fonts/AvenirNext/AvenirNextCyr-DemiItalic.woff2") format("woff2"), url("../font/fonts/AvenirNext/AvenirNextCyr-DemiItalic.woff") format("woff"), url("../font/fonts/AvenirNext/AvenirNextCyr-DemiItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Avenir";
  src: url("../font/fonts/AvenirNext/AvenirNextCyr-Demi.eot");
  src: local("Avenir Next Cyr Demi"), local("AvenirNextCyr-Demi"), url("../font/fonts/AvenirNext/AvenirNextCyr-Demi.eot?#iefix") format("embedded-opentype"), url("../font/fonts/AvenirNext/AvenirNextCyr-Demi.woff2") format("woff2"), url("../font/fonts/AvenirNext/AvenirNextCyr-Demi.woff") format("woff"), url("../font/fonts/AvenirNext/AvenirNextCyr-Demi.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("../font/fonts/AvenirNext/AvenirNextCyr-Regular.eot");
  src: local("Avenir Next Cyr Regular"), local("AvenirNextCyr-Regular"), url("../font/fonts/AvenirNext/AvenirNextCyr-Regular.eot?#iefix") format("embedded-opentype"), url("../font/fonts/AvenirNext/AvenirNextCyr-Regular.woff2") format("woff2"), url("../font/fonts/AvenirNext/AvenirNextCyr-Regular.woff") format("woff"), url("../font/fonts/AvenirNext/AvenirNextCyr-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("../font/fonts/AvenirNext/AvenirNextCyr-LightItalic.eot");
  src: local("Avenir Next Cyr Light Italic"), local("AvenirNextCyr-LightItalic"), url("../font/fonts/AvenirNext/AvenirNextCyr-LightItalic.eot?#iefix") format("embedded-opentype"), url("../font/fonts/AvenirNext/AvenirNextCyr-LightItalic.woff2") format("woff2"), url("../font/fonts/AvenirNext/AvenirNextCyr-LightItalic.woff") format("woff"), url("../font/fonts/AvenirNext/AvenirNextCyr-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Avenir";
  src: url("../font/fonts/AvenirNext/AvenirNextCyr-UltraLight.eot");
  src: local("Avenir Next Cyr Ultra Light"), local("AvenirNextCyr-UltraLight"), url("../font/fonts/AvenirNext/AvenirNextCyr-UltraLight.eot?#iefix") format("embedded-opentype"), url("../font/fonts/AvenirNext/AvenirNextCyr-UltraLight.woff2") format("woff2"), url("../font/fonts/AvenirNext/AvenirNextCyr-UltraLight.woff") format("woff"), url("../font/fonts/AvenirNext/AvenirNextCyr-UltraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Avenir", sans-serif;
}

.container {
  max-width: 1170px;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: "icomoon";
  src: url("../font/icons/icomoon.eot?85k1c5");
  src: url("../font/icons/icomoon.eot?85k1c5#iefix") format("embedded-opentype"), url("../font/icons/icomoon.ttf?85k1c5") format("truetype"), url("../font/icons/icomoon.woff?85k1c5") format("woff"), url("../font/icons/icomoon.svg?85k1c5#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-computer:before {
  content: "";
}

.icon-medal:before {
  content: "";
}

.icon-people:before {
  content: "";
}

.contact-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #11364E;
  text-align: center;
}

.container {
  max-width: 380px;
  width: 100%;
  margin: 0 auto;
  padding: 0 5px;
}

.form {
  color: white;
  font-size: 13px;
}
.form h2 {
  padding-top: 140px;
  font-size: 38px;
  color: white;
  margin-bottom: 34px;
  font-weight: 400;
}
.form__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 10px;
}
.form__input {
  font-size: 16px;
  position: relative;
  outline: none;
  border: none;
  min-height: 22px;
  border-bottom: 1px solid #4D687A;
  background: none;
  width: 100%;
  padding-bottom: 5px;
  margin-bottom: 10px;
  color: white;
}
.form__label-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 10px;
}
.form__textarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  border-bottom: 1px solid #4D687A;
  outline: none;
  background: none;
  font-size: 16px;
  resize: none;
  width: 100%;
  margin-bottom: 36px;
  height: 100px;
  color: white;
}
.form__btn {
  background-color: #FF7F57;
  padding: 19px 100px;
  color: white;
  font-size: 17px;
  margin-bottom: 158px;
  cursor: pointer;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
  border: none;
  outline: none;
  border-radius: 3px;
}
.form__btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.form__area-holder {
  padding-top: 40px;
}

.footer {
  background-color: #13253A;
  text-align: center;
  color: #D0D3D8;
  font-size: 12px;
  padding: 15px;
}